mixin icon(iconName)
  svg&attributes(attributes)
    if iconName.includes(' ')
      use(:xlink:href=`\`\${require("@/assets/chatSprite.svg")}#\${${iconName}}\``)
    else
      use(:xlink:href=`\`\${require("@/assets/chatSprite.svg")}#${iconName}\``)